/Herança/nbproject/private/
/Herança/build/
/Herança/dist/
/jogoDaForca/nbproject/private/
/jogoDaForca/build/
/jogoDaForca/dist/
/Palindromo/nbproject/private/
/Palindromo/build/
/Palindromo/dist/