/Herança/nbproject/private/
/Herança/build/
/Herança/dist/
/jogoDaForca/nbproject/private/
/jogoDaForca/build/
/jogoDaForca/dist/
/Palindromo/nbproject/private/
/Palindromo/build/
/Palindromo/dist/
/M2-AP-Heranca/nbproject/private/
/M2-AP-Heranca/build/
/M2-AP-Heranca/dist/